<h1>Places I've Been</h1>


<div class="row">
  <% for place in @places %>
    <div class="col-3">
      <a href="/places/<%= place["id"] %>/entries"> <%= place["name"] %></a>
    </div>
  <% end %>
</div>

<p><a href="/places/new">Add a New Place</a></p>
